# Environment files
.env
.env.local

# Dependency directories
node_modules/
vendor/

# Build directories
dist/
build/

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Temporary files
*.tmp
*.swp
